.loginre{
  margin-top: 80px;
  width: 100%;
}
.loginre_div{
 margin: 0 auto;
 background-color: rgba(#333 , 0.8);
 padding: 40px;
 max-width: 500px;
 min-width: 400px;
 border-radius: 10px;
}
.Bg_img{
  width: 100%;
  img{
    width: 100%;
    height: 100%;
  }
}
.Carousel{
  width: 100%;
  margin-top: -60;
  height: 100%;
}